body{
    height: 100vh;
    background-color: blueviolet;
    display:grid;
    place-content:center;
}
button{
    background-color:rgb(11, 11, 126);
    color: aliceblue;
    font-size:1.2rem;
    border-radius:6px;
    padding:.1rem;
}